/* global css */
body{
  background-color: rgba(223, 219, 219, 0.39);
}

.main{
  background-color: white;
}

h1{
  font-size:48px;
  
}

.strong{
color: #ffc107;
font-size:68px;

}
.strong:hover{
  color:#dc3545;
  
  }
  
  @media screen and (max-width: 768px) {
    
    .strong {
      font-size:50px; 
       }
  }